<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
          href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap"
          rel="stylesheet"
  />
  <style>
    body {
      font-family: "Nanum Gothic", sans-serif;
      font-size: 12px;
      box-sizing: border-box;
      line-height: 0.1;
    }
  </style>
  <title>Reset Password</title>
</head>
<body>
<div style="width: 400px">
  <div style="width: 100%; background-color: #d9d9d9">
    <h3 style="padding: 20px">connectT</h3>
  </div>
  <div style="padding: 20px 20px">
    <p th:text="${name + '님, 반갑습니다.'}"></p>
    <p>connectT 서비스의 비밀번호 초기화를 위한 인증메일입니다.</p>
    <p>아래의 버튼을 클릭하여 비밀번호를 초기화해주세요.</p>
    <p>인증이 성공적으로 수행되면 비밀번호는 "pass1234"로 초기화됩니다.</p>
    <p>보안을 위해 초기화된 비밀번호는 변경해주세요.</p>
    <p style="display: flex; justify-content: center; padding: 10px">
      <a
              th:href="${site}"
              style="
              display: inline-block;
              padding: 15px 30px;
              background-color: #2e93d1;
              color: #fff;
              text-decoration: none;
              border-radius: 5px;
              box-shadow: 0 4px 4px rgba(69, 68, 68, 0.2);
            "
      >비밀번호 초기화하기</a
      >
    </p>
  </div>
</div>
</body>
</html>